<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="{{ site.author }}" />
  <meta name="description" content="The OW2.org Technology Council Blog" />
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/atom.xml" />
  
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <!--
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', '{{ site.ga }}']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  -->
  <link href="{{ site.url }}/assets/css/bootstrap.css" rel="stylesheet" media="screen">
</head>
<body style="padding-top: 60px;">
  
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="{{ site.url }}">OW2 TC.blog</a>
        <ul class="nav">
          <li><a href="{{ site.url }}">News</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ site.url }}/pages/members.html">Members</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://ow2.org" target="_blank">OW2.org</a></li>
              <li><a href="http://twitter.com/ow2tc" target="_blank">@ow2tc</a></li>
            </ul>
          </li>
        </ul>
      </div>
  </div>
</div>

<div class="container-fluid" width="800">
  <div class="row-fluid">
    <div class="span9">

      {{ content }}

    </div>
    
    <div class="span3">
      <a class="twitter-timeline" href="https://twitter.com/ow2tc" data-widget-id="301427447210057728">Tweets de @ow2tc</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
  
  <hr>

  <footer id="footer">
    <p class="pull-right"><a href="#top">Back to top</a></p>
    <a target="_blank" href="https://github.com/ow2/ow2-technologycouncil-blog">Sources</a> of this blog are licensed under the <a target="_blank" href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.<br/>
    Built with <a target="_blank" href="http://twitter.github.com/bootstrap/">Bootstrap</a> and <a target="_blank" href="http://jekyllrb.com">Jekyll</a>. Hosted on <a target="_blank" href="http://pages.github.com/">GitHub</a>.</p>
  </footer>
   
</div>




<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.url }}/assets/js/holder.js"></script>
</body>
</html>
